#!/usr/bin/env bash
# Install themes listed in .chezmoidata/themes.yaml.
# Note this script will only download the files, configuration still needed for each app.

set -e -u -o pipefail
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing themes..."

function download_theme {
  set +u
  local output_dir=$1
  local base_url=$2
  local file=$3
  local output_file=$4
  if [ -z "$4" ]; then
    output_file=$file
  fi
  urlencoded=$(echo $file | sed 's/ /%20/g')
  echo "Downloading $base_url/$urlencoded" | tr -s '/'
  curl --no-progress-meter \
    -L --fail --output-dir "$output_dir" --output "$output_file" "$base_url/$urlencoded"
  set -u
}

{{ range .themes -}}
# --------------------------------
# {{ .theme }}
# --------------------------------

{{ range .items -}}
# {{ .name }}
{{ if (index . "skip") -}}
# Skipped.
{{ else -}}
# Repo: {{ .repo }}
OUTPUT_DIR="$HOME/{{ .output_dir }}"
BASE_URL="{{ .base_url }}"
mkdir -p "$OUTPUT_DIR"
{{ range .items -}}
download_theme "$OUTPUT_DIR" "$BASE_URL" "{{ . }}"
{{ end -}}
{{ if hasKey . "after" -}}
{{ .after }}
{{ end -}}
{{ end -}}
{{""}}
{{ end -}}

{{ end -}}