#!/usr/bin/env sh

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Fetching base16-shell..."

DEST="$HOME/.config/base16-shell"
URL='https://github.com/chriskempson/base16-shell/archive/master.tar.gz'
ARCHIVE='./base16-shell.tar.gz'

rm -rf "$DEST"
mkdir -p "$DEST"
curl -fsSL "$URL" -o "$ARCHIVE"
tar -xzf "$ARCHIVE" --strip-components 1 -C "$DEST"
rm "$ARCHIVE"

# remove themes we don't need (they make shell startup slower)
cd "$DEST/scripts"
ls | grep -v -e "base16-solarized-.*" | xargs -I{} rm {}
