#!/usr/bin/env bash
# Install Solarized themes.
# See: https://ethanschoonover.com/solarized/

set -e -u -o pipefail
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Solarized themes..."

function download_theme {
  set +u
  local output_dir=$1
  local base_url=$2
  local file=$3
  local output_file=$4
  if [ -z "$4" ]; then
    output_file=$file
  fi
  urlencoded=$(echo $file | sed 's/ /%20/g')
  echo "Downloading $base_url/$urlencoded" | tr -s '/'
  curl --no-progress-meter \
    -L --fail --output-dir "$output_dir" --output "$output_file" "$base_url/$urlencoded"
  set -u
}


# Alacritty
# See: https://github.com/alacritty/alacritty-theme

OUTPUT_DIR="$HOME/.config/alacritty/themes/"
BASE_URL="https://github.com/alacritty/alacritty-theme/raw/master/themes"
mkdir -p "$OUTPUT_DIR"
download_theme "$OUTPUT_DIR" "$BASE_URL" "solarized_dark.toml"
download_theme "$OUTPUT_DIR" "$BASE_URL" "solarized_light.toml"

# Bat
# Already included.

# Delta
# TBD.

# Fish
# Already included.

# Zellij
# Already included.
