#!/usr/bin/env bash

set -e -u -o pipefail
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Golang..."

PREFIX="$HOME/.golang"
# get latest golang version
# see: https://stackoverflow.com/a/57725365
VERSION="$(curl -fsSL https://go.dev/VERSION?m=text | head -n 1)"

# detect kernel

KERNEL="$(uname -s | tr '[:upper:]' '[:lower:]')" # will be either "Linux" or "Darwin"

# detect architecture

ARCH="$(uname -m)"

case "$ARCH" in
    x86_64)
        ARCH=amd64
        ;;
esac

# download and install

GOLANG_URL="https://go.dev/dl/$VERSION.$KERNEL-$ARCH.tar.gz"

ARCHIVE="./golang.tar.gz"

echo "Downloading Go ($VERSION) from $GOLANG_URL..."
curl -fsSL "$GOLANG_URL" -o "$ARCHIVE"

echo "Extracting archive..."
rm -rf "$PREFIX"
mkdir -p "$PREFIX"
tar -xzf "$ARCHIVE" --strip-components 1 -C "$PREFIX"
rm "$ARCHIVE"

