#!/usr/bin/env sh

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Golang..."

ARCHIVE="./golang.tar.gz"
PREFIX="$HOME/.golang"

# Get latest golang version
# See: https://stackoverflow.com/a/57725365

VERSION=`curl -fsSL https://golang.org/VERSION?m=text`

# Detect system

if [ `uname` = Darwin ]; then
    GOLANG_URL="https://golang.org/dl/$VERSION.darwin-amd64.tar.gz"

elif [ `uname` = Linux ]; then
    GOLANG_URL="https://golang.org/dl/$VERSION.linux-amd64.tar.gz"

else
    echo "Unable to detect system"
    exit 1
fi

# Download and install

echo "Downloading Go ($VERSION)..."
curl -fsSL "$GOLANG_URL" -o "$ARCHIVE"

echo "Extracting archive..."
rm -rf "$PREFIX"
mkdir -p "$PREFIX"
tar -xzf "$ARCHIVE" --strip-components 1 -C "$PREFIX"
rm "$ARCHIVE"

