#!/usr/bin/env sh

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Python Neovim..."

PREFIX="$HOME/.miniconda3/bin"
PIP="$PREFIX/pip"

if ! command -v "$PIP" 1>/dev/null 2>&1; then
    echo "pip not found"
    exit 1
fi

"$PIP" install --upgrade neovim

