#!/usr/bin/env sh

{{ if eq .chezmoi.os "darwin" -}}

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Homebrew..."

# Skip if not on Darwin or already installed

if [ ! `uname` = Darwin ]; then
    echo "Not a Darwin system"
    exit 1
fi

if command -v brew 1>/dev/null 2>&1; then
    echo "Homebrew already installed. Try to update it using 'brew update'"
    exit 0
fi

# Download and install silently

HOMEBREW_URL='https://raw.githubusercontent.com/Homebrew/install/master/install.sh'
INSTALLER="./homebrew-installer.sh"

echo "Downloading Homebrew (latest)..."
curl -fsSL "$HOMEBREW_URL" -o "$INSTALLER"

echo "Installing..."
CI=1 bash "$INSTALLER"
rm "$INSTALLER"

{{ end -}}

