#!/usr/bin/env sh
# see: https://gist.github.com/enzinier/8d00d3f37d2e23985dcfa65662d163fa

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Source Code Pro fonts..."

# detect system

if [ `uname` = Darwin ]; then
    PREFIX="$HOME/Library/Fonts/adobe-fonts/source-code-pro"

elif [ `uname` = Linux ]; then
    PREFIX="$HOME/.loca/share/fonts/adobe-fonts/source-code-pro"

else
    echo "unable to detect system"
    exit 1
fi

# download and install

REPO_URL='https://github.com/adobe-fonts/source-code-pro.git'
CLONE='./source-code-pro'

echo "Cloning repository..."
git clone --branch release --depth 1 "$REPO_URL" "$CLONE"

echo "Copying fonts..."
mkdir -p "$PREFIX"
find "$PREFIX" -iname "*.otf" -type f -maxdepth 1 -delete
find "$PREFIX" -iname "*.ttf" -type f -maxdepth 1 -delete
find "$PREFIX" -iname "*.woff" -type f -maxdepth 1 -delete
find "$PREFIX" -iname "*.woff2" -type f -maxdepth 1 -delete
cp -r "$CLONE/OTF/." "$PREFIX"
rm -rf "$CLONE"

if command -v fc-cache 1>/dev/null 2>&1; then
    echo "Updating font cache..."
    fc-cache -f -v "$PREFIX"
fi

