#!/usr/bin/env sh

set -e -u
source '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Miniconda..."

INSTALLER="./miniconda-installer.sh"
PREFIX="$HOME/.miniconda3"

# Detect system

if [ `uname` = Darwin ]; then
    MINICONDA_URL='https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh'

elif [ `uname` = Linux ]; then
    MINICONDA_URL='https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh'

else
    echo "Unable to detect system"
    exit 1
fi

# Download and install silently

echo "Downloading Miniconda 3 (latest)..."
curl -fsSL "$MINICONDA_URL" -o "$INSTALLER"

echo "Installing..."
rm -rf "$PREFIX"
sh "$INSTALLER" -b -p "$PREFIX"
rm "$INSTALLER"

