#!/usr/bin/env sh

set -e -u
. '{{ .chezmoi.sourceDir }}/scripts/helper.sh'
runtitle "Installing Golang..."

PREFIX="$HOME/.golang"
# get latest golang version
# see: https://stackoverflow.com/a/57725365
VERSION="$(curl -fsSL https://go.dev/VERSION?m=text | head -n 1)"
ARCH="$(uname -m)"

# detect system

if [ "$(uname)" = Darwin ]; then
    GOLANG_URL="https://go.dev/dl/$VERSION.darwin-$ARCH.tar.gz"

elif [ "$(uname)" = Linux ]; then
    GOLANG_URL="https://go.dev/dl/$VERSION.linux-$ARCH.tar.gz"

else
    echo "unable to detect system"
    exit 1
fi

# download and install

ARCHIVE="./golang.tar.gz"

echo "Downloading Go ($VERSION)..."
curl -fsSL "$GOLANG_URL" -o "$ARCHIVE"

echo "Extracting archive..."
rm -rf "$PREFIX"
mkdir -p "$PREFIX"
tar -xzf "$ARCHIVE" --strip-components 1 -C "$PREFIX"
rm "$ARCHIVE"

